<div id="initformouter" style="display: flex; width:60%">
  <form onsubmit="handleInitForm('submit'); return false;" id="initform" style="width:100%">
    <input type="number" id="period" name="period" placeholder="period" required>
    
    <input type="number" id="width" name="width" placeholder="width" required>
    
    <input type="number" id="symmetry" name="symmetry" placeholder="symmetry, 0 or 1" required>
    
    <input type="number" id="lookahead" name="lookahead" placeholder="lookahead rows" required> 
    
    <input type="number" id="bth" name="bthh" placeholder="bisect thresh." required> <br>
    
    <textarea id="initialrows" placeholder="initial rows" rows="16" style="width:90%" required></textarea><br>
    
    <label>Additional Options:</label>
    <input type="radio" id="additionalOptionsYes" name="additionalOptions" value="yes" onclick="toggleAdditionalOptions()" required>
    <label for="additionalOptionsYes">Yes</label>
    <input type="radio" id="additionalOptionsNo" name="additionalOptions" value="no" onclick="toggleAdditionalOptions()" required>
    <label for="additionalOptionsNo">No</label><br>
    
    <div id="additionalOptions" style="display:none;">
      <input type="number" id="filters" name="filters" placeholder="filters"><br>
    
      <textarea id="filterrows" name="filterrows" placeholder="filter rows" rows="6" style="width:90%"></textarea><br>
    <div style="display:flex; width:90%"><input type="number" id="column0cnt" name="column0cnt" placeholder="column -1 cnt">
      <input type="text" id="column0" name="column0" placeholder="column -1 forced rows" style="flex-grow: 1"></div>
    
      <div style="display:flex;  width:90%"><input type="number" id="column1cnt" name="column1cnt" placeholder="column -2 cnt"> 
        <input type="text" id="column1" name="column1" placeholder="column -2 forced rows" style="flex-grow: 1"></div>

        <textarea id="exInitrows" name="exInitrows" placeholder="extra initial rows" rows="6" style="width:90%"></textarea><br>
    </div>
    
    <button type="button" onclick="handleInitForm('submit')">Submit</button>
    <button type="button" onclick="handleInitForm('autofill')">Autofill</button>
  </form>
  <textarea id="autofilltextarea" rows="28" placeholder="autofill input" style="display:none; height:100%;" onchange="updateAutofill()"></textarea>
</div>

